<div class="jumbotron text-center">
    <h1>Balls are Life</h1>
    <!--<div ng-repeat="character in characters">-->
        <!--<h4>{{character.firstName}}</h4>-->
        <!--<h4>{{character.lastName}}</h4>-->
    <!--</div>-->
</div>
<div class="container">
    <div class="col-md-3">
        <img src="pics/Pro-v1.jpg">
        <input type="number" ng-model="quantity">
        <p>Price: {{price1}}</p>

        <p>Total = {{ (quantity1 * price1) | currency }}</p>
        <button>Buy</button>
    </div>
    <div class="col-md-3">
        <img src="pics/Pro-v1X.jpg">
        <input type="number" ng-model="quantity">
        <p>Price: {{price2}}</p>

        <p>Total = {{ (quantity2 * price2) | currency }}</p>
        <button>Buy</button>
    </div>
    <div class="col-md-3">
        <img src="pics/NXT.jpg">
        <input type="number" ng-model="quantity">
        <p>Price: {{price3}}</p>

        <p>Total = {{ (quantity3 * price3) | currency }}</p>
        <button>Buy</button>
    </div>
    <div class="col-md-3">
        <img src="pics/NXTS.jpg">
        <input type="number" ng-model="quantity">
        <p>Price: {{price4}}</p>

        <p>Total = {{ (quantity4 * price4) | currency }}</p>
        <button>Buy</button>
    </div>
</div>
